<div class="card-trip">
  <img src="<%= flat["imageUrl"] %>" />
  <div class="card-trip-infos">
    <div>
      <p><%= flat['name']%></p>
    </div>
    <h6 class="card-trip-pricing"><%= flat['price']%> €</h6>
  </div>
</div>
